@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 15px;
}
.content {
  /* max-width: 600px; */
  margin: auto;
  padding: 20px;

}
.body {
  background: #f1356d05;
  /* opacity: 0.02; */
  height: 85vh;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}


/* blog details  */
.blog-details{
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.blog-details h2{
  font-size: 20px;
  color:#f1356d;
  margin-bottom: 10px;
}

.blog-details .blog-content{
  margin: 20px 0;
  text-align: justify;
  text-justify: inter-word;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;

}



/* create new blog form */
.create {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  margin-top:30px;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
}